/*------
| FONTS |
-------*/
@import url('https://fonts.googleapis.com/css?family=Oswald');


/*-------------------
| PAGE-WIDE ELEMENTS |
--------------------*/
html {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.jpg);
  background-size: cover;
  margin: 0;
}
body {
  width: inherit;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}


/*-----------
| BACKGROUND |
------------*/
#image-container {
  /* positioning: */
  position: absolute;
  bottom: 0;
  left: 0;
}
.background-image {
/* layering: */
  z-index: -1;
}
#overlay {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-size: cover;
  opacity: .3;
/* positioning: */
  position: absolute;
  top: 0;
  left: 0;
/* layering: */
  z-index: 0;
}


/*-------------
| PAGE CONTENT |
--------------*/
#content-container {
  width: inherit;
/* positioning */
  position: absolute;
  bottom: 5%;
}
.name-traits {
  font-size: 3em;
  text-align: center;
}
h1 {
  background-color: rgba(255,255,250,.2);
  border: 10px solid #606060;
  color: #A80000;
  font-size: 3em;
  text-transform: uppercase;
  padding-right: 30px;
  margin: 0;
}
p {
  color: #C0C0C0;
  margin: 0;
  padding-right: 30px;
  font-weight: bold;
}


/*------------------------------------
| GITHUB PROFILE LINK (Double Arrows) |
------------------------------------*/
.github-profile-link-container {
  width: 50px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
/* positioning: */
  float: right;
  margin: 30px;
  padding: 10px;
}
.github-profile-link-container:hover {
  background-color: #00ABFF;
}
.github-profile-link-container>img {
  width: 40px;
  height: 40px;
  margin: 5px;
}


/*-----------------
| ASSIGNMENT LINKS |
------------------*/
.assignment-links {
/* positioning: */
  position: absolute;
  top: -30px;
  left: 0;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.assignment-links a {
  font-size: 20px;
  padding: 5px 5px;
  background-color: #00ABFF;
  border: 5px solid transparent;
  border-radius: 10%;
  color: #606060;
  font-weight: bold;
}
.assignment-links a:hover {
  border: 5px solid white;
  position: relative;
  bottom: 15px;
}
